<mat-dialog-content class="dialog flexbox-parent">
  <div
    layout="row"
    layout-align="center center"
    style="background-color: cornsilk"
  >
    <h2 class="text-center">{{ data.name }}</h2>
    <img src="{{ data.img }}" alt="image cap" width="75%" />
    <div class="text-center">
      <p class="text mt-3">Price: ₹{{ data.price }}</p>
      <!-- <button mat-raised-button class="button" ><i class="fa fa-minus"></i></button>
         <input matInput class="text-center input" type="text" [disabled]="true">
         <button mat-raised-button class="add-btn" ><i class="fa fa-plus"></i></button>
         <p>Quantity: 5</p> -->

      <div class="example-button-container">
        <!-- <button type="button" class="btn plus-minus"(click)="dec(data)"><i
                class="fa fa-minus"></i></button> -->
        <button
          mat-icon-button
          color="warn"
          (click)="dec(data)"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ data.quant }}</span>
        <button
          mat-icon-button
          color="warn"
          (click)="inc(data)"
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div>
        <form [formGroup]="topForm">
          <mat-form-field appearance="fill">
             <mat-label>Select Topping</mat-label>
             <mat-select formControlName="topping">
                <mat-option disabled>Select Topping</mat-option>
                <mat-option *ngFor="let topping of topping" [value]="topping">{{topping.name}} -
                   &#x20B9;{{topping.price}}</mat-option>
             </mat-select>
          </mat-form-field>
       </form>
      </div>

      <a mat-raised-button color="primary" class="m-3" (click)="add_cart(data)"
        >Save</a
      >
      <a mat-raised-button class="m-3" (click)="close()">Close</a>
    </div>
  </div>
</mat-dialog-content>
